html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-image: url("../public/background.jpg");
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  word-break: break-word;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;

}

.header {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}